<section class="card">
    
    <section class="card-header d-flex">
        <p></p>
    </section>

    <section class="card-body">
        <form class="d-flex flex-column submit-post">
            <label for="new-post"><b>New Post Title:</b></label>
            <input type="text" id="new-post">

            <label for="new-post"><b>New Post Body:</b></label>
            <textarea rows="5"></textarea>
            <button type="submit" class="btn btn-secondary mt-1"><b>Submit</b></button>
        </form>
    </section>

</section>