/* CSS Variables */
:root {
    --dark: rgb(101, 5, 5);
    --light: rgb(255, 214, 184);
}

body {
    background-color: var(--light);
}

p {
    font-size: 1.2rem;
}

/* Header */
header {
    background-color: var(--dark);
    color: white;
    min-height: 12rem;
    position: relative;
}

nav {
    padding-top: 1.2%;
}

li {
    list-style: none;
    display: inline;
    font-size: 2.2rem;
    padding: 2%;
}

li a {
    color: var(--light);
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
}

.login-signup-anchor {
    text-decoration: none;
    color: black;
}

/* Tech Blog/ Your Dashboard Title */
#title-card {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: 8px 8px rgb(202, 141, 137);
    width: 22rem;
    text-align: center;
}

#title-body {
    border-radius: 50px;
} 
  
.title {
    font-size: 2.7rem;
}

/* Section with title and Hello, Username */
#title-user {
    margin: 0 70px 0 70px;
}

/* Section with just Hello, Username */
#hello-user {
    color: var(--light);
}

/* Blogpost, comments, forms card styles */
.card {
    border: solid var(--dark) 3px;
}

.clickable-card:hover {
    cursor: pointer;
}

.card-header {
    background-color: var(--dark) !important;
}

.card-body {
    background-color: var(--light);
}

/* For smaller screens, nav bar vertical, center title and hello username section  */
@media screen and (max-width: 700px) {
    nav li {
        display: block;
        padding: 0;
    } 

    #title-user {
        justify-content: center !important;
    }

    #hello-user {
        text-align: center !important;
    }
}